h1 {
  font-family: sans-serif;
}

h2 {
 font-family: cursive;
}

h3 {
 font-family: fantasy;
}

h4 {
 font-family: monospace;
}

/*Flexible images */
img {
  max-width:100%;
  height: auto;
}

<style>
body {
  background-image: url(https://i.pinimg.com/originals/ef/47/f4/ef47f4c663869a49bdb6c70155e055a3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>


<p style="color:red">This is a paragraph.</p>
<p style="color:blue">This is another paragraph.</p>
