h1 {
  font-family: sans-serif;
}

h2 {
 font-family: curisve;
}

h3 {
 font-family: fantasy;
}

h4 {
 font-family: monospace;
}

/*Flexible images */
img {
  max-width:100%;
  height: auto;
}

<style>
body {
  background-image: url(https://static.vecteezy.com/system/resources/previews/000/273/920/original/deep-ocean-background-vector.jpg);
}
</style>
