h1 {
  font-family: sans-serif;
}

h2 {
 font-family: cursive;
}

h3 {
 font-family: fantasy;
}

h4 {
 font-family: monospace;
}

<style>
body {
  background-image: url(https://i.pinimg.com/originals/ef/47/f4/ef47f4c663869a49bdb6c70155e055a3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>

h3 {
text-shadow: 2px 4px 10px black;
}


/*Flexible images */
img {
  max-width:100%;
  height: auto;
}

body {
background-color: #8b5;
}

